html
  head
    title= title
    //- put links to the compiled Redux UI code in here
    //- and attach it to the #app div below.
    //- also link in any CSS you wish (comoiled from SASS ideally)
  body
    #app
